<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="carSpecifications" class="Com.example.ConstructorInjection.Specifications" >
        <property name="make" value ="Tata harrier"/>
        <property name="model" value="Top Model"/>
    </bean>
    <bean id="myCar" class="Com.example.ConstructorInjection.Car" >
        <constructor-arg ref="carSpecifications"/>
    </bean>
</beans>